@import url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}
body{
    display: grid;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
}
main{
    display: grid;
    max-width: 1440px;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, min-content); */
    grid-gap: 20px;
}
.card{
    background-color: hsl(219, 29%, 14%);
    padding: 30px 40px;
    border-radius: 15px;

}
.heading{
    align-items: center;
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;

}
img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #fff;
}
.name{
    font-weight: 600;
    font-size: 15px;
}
.title{
    opacity: 0.5;
}
.user{
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
}
.details{
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    line-height: 1.5;
}
.card1{
    grid-column: 1/2;
    background-color: hsl(263, 55%, 52%);
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 18%;

}
 .card2{
    grid-column: 3/4;
}
.card3{
  grid-row: 2;
  grid-column: 1/2;
  background-color: #fff;
}
.card3 img,
.card5 img{
  border: 2px solid hsl(263, 55%, 52%);
}
.card4{
  grid-row: 2/3;
  grid-column: 2/4;
}
.card5{
  background-color: #fff;
} 
.card3 .heading,
.card3 .user,
.card3 .details,
.card5 .heading,
.card5 .user,
.card5 .details{
  color: #222;
}


.attribution {
     font-size: 11px;
     text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}

@media (max-width: 1440px){
    body{
      padding: 20px;
    }
    
    main{
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, min-content);
      width: 95%;
      grid-gap: 15px;
    }
    .card1{
      grid-column: 1/3;
    }
    .card2{
      grid-column: 3/4;
    }
   
    .card5{
      grid-column: 4;
      grid-row: 1/span 2;
      
    }
  }

  @media (max-width: 375px){
    main{
      width: 320px;
      margin: 10px;
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      grid-template-rows: minmax(auto, auto); 
    }
    .card{
      grid-column: unset !important;
      grid-row: unset !important;
    }
  }